.logincontrol{
}
body{
    background: linear-gradient(90deg, rgba(238,192,75,1) 0%, rgba(243,144,200,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  #PaotungLogo{
    margin-top: 60px;
    width: 299px;
    height: 269px;
  }
  #LoginButton{
    margin-top: 40px;
    border-radius: 30px;
    width:276px;
    height: 55px;
    background-color: #E25789;
    font-size: 24px;
    font-weight: bold;
  }
  #RegisterButton{
    margin-top: 40px;
    border-radius: 30px;
    width:276px;
    height: 55px;
    background-color: #FFB5B5;
    font-size: 24px;
    font-weight: bold;
  }
  .Input{
    border-radius: 30px;
    margin-top: 40px;
    width: 260px;
    height: 40px;
  }
  
  label{
    margin-right: 20px;
  }